$font-family: Roboto, sans-serif;
$color: rgb(207, 28, 28);
$theme: hsl(hue($color), saturation($color), 10%);

// Create theme shades
@for $i from 0 through 10 {
  .theme-#{$i} {
    background-color: hsl(hue($color), saturation($color), $i * 10%);
  }
}
