@import "@/assets/variables.scss";

$theme-name: "dark";

.divisor[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 10);
}

body[data-theme=#{$theme-name}] {
  color: white;
  background-color: lighten($color: $theme, $amount: 0);
}

#left-section[data-theme=#{$theme-name}] {
  color: white;
  background-color: lighten($color: $theme, $amount: 0);
}

#middle-section[data-theme=#{$theme-name}] {
  color: white;
  background-color: lighten($color: $theme, $amount: 2);
}

#right-section[data-theme=#{$theme-name}] {
  color: white;
  background-color: lighten($color: $theme, $amount: 0);
}

.border-right[data-theme=#{$theme-name}] {
  border-right: 1px lighten($color: $theme, $amount: 10) solid;
}

#markdown-container[data-theme=#{$theme-name}] a {
  color: complement($color: lighten($color: $theme, $amount: 40));
}

#markdown-container[data-theme=#{$theme-name}] a:hover {
  color: lighten($color: $theme, $amount: 40);
}

#markdown-btn[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 10);
}

#markdown-btn[data-theme=#{$theme-name}]:active {
  background-color: lighten($color: $theme, $amount: 25);
}

#context-menu[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 6);
}

.project[data-theme=#{$theme-name}] {
  color: white;
}

.project[data-theme=#{$theme-name}]:hover {
  color: white;
  background-color: lighten($color: $theme, $amount: 6);
}

.project[data-theme=#{$theme-name}].active {
  color: white;
  background-color: lighten($color: $theme, $amount: 18);
}
