@import "@/assets/variables.scss";

$theme-name: "dark";

*[data-theme=#{$theme-name}] {
  color: white;
}

*[data-theme=#{$theme-name}]::-webkit-scrollbar-thumb {
  background-color: lighten($color: $theme, $amount: 20);
}

.divider[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 10);
}

body[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 0);
}

#left-section[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 0);
}

#middle-section[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 2.5);
}

#right-section[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 0);
}

.border-right[data-theme=#{$theme-name}] {
  border-color: lighten($color: $theme, $amount: 10);
}

#markdown-container[data-theme=#{$theme-name}] a {
  color: complement($color: lighten($color: $theme, $amount: 40));
}

#markdown-container[data-theme=#{$theme-name}] a:hover {
  color: lighten($color: $theme, $amount: 40);
}

#markdown-btn[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 10);
}

// #markdown-btn[data-theme=#{$theme-name}]:hover {}

#markdown-btn[data-theme=#{$theme-name}]:active {
  background-color: lighten($color: $theme, $amount: 25);
}

#context-menu[data-theme=#{$theme-name}] {
  border-color: lighten($color: $theme, $amount: 20);
  background-color: lighten($color: $theme, $amount: 5);
}

.project[data-theme=#{$theme-name}]:hover {
  background-color: lighten($color: $theme, $amount: 10);
}

.project[data-theme=#{$theme-name}].active {
  background-color: lighten($color: $theme, $amount: 20);
}

// TaskView.vue
.task[data-theme=#{$theme-name}]:focus-within {
  background-color: lighten($color: $theme, $amount: 15);
}

.task[data-theme=#{$theme-name}]:hover {
  background-color: lighten($color: $theme, $amount: 5);
}

.task-checkbox[data-theme=#{$theme-name}] {
  border-color: lighten($color: $theme, $amount: 20);
}

.task-checkbox[data-theme=#{$theme-name}]:checked::before {
  color: black;
  background-color: lighten($color: $theme, $amount: 40);
}

// .task-name-input[data-theme=#{$theme-name}] {}

// .more-options-btn[data-theme=#{$theme-name}] {}

.task-divider[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 15);
}

#new-task[data-theme=#{$theme-name}] {
  background-color: lighten($color: $theme, $amount: 6);
  border-color: lighten($color: $theme, $amount: 20);
}

#new-task[data-theme=#{$theme-name}]::placeholder {
  color: lighten($color: $theme, $amount: 40);
}

#new-task[data-theme=#{$theme-name}]:focus {
  outline-color: lighten($color: $theme, $amount: 10);
}

// Context menu
.cm-submenu[data-theme=#{$theme-name}] {
  background-color: hsla(hue($theme), saturation($theme), lightness($theme) + 6%, 1);
  border-color: hsla(hue($theme), saturation($theme), lightness($theme) + 19%, 1);
}

.cm-item[data-theme=#{$theme-name}]:hover,
.cm-item-priority[data-theme=#{$theme-name}]:hover {
  background-color: lighten($color: $theme, $amount: 10);
}